.cartcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--colpalb1);
    /* background-color: red; */
    height: 100%;
    width: 100%;
    .cartwrapper {
      width: 55%;
      display: flex;
      padding-top: 100px;
      gap: 30px;
      ::-webkit-scrollbar {
        display: none;
      }
      h2 {
        margin-bottom: 10px;
      }
  
      .left {
        height: calc(100vh - 100px);
        width: 60%;
        min-width: 430px;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
  
        .heading {
          font-size: 20px;
          padding: 20px 0;
          border-bottom: 1px solid #c7bab0;
        }
        .leftcont {
          flex: 1;
          display: flex;
          flex-direction: column;
          overflow-y: scroll;
  
          .cartProductCard {
            height: max-content;
            margin-top: 10px;
            display: flex;
            gap: 20px;
            position: relative;
            border-radius: 4px;
            border-bottom: 1px solid #c7bab0;
  
            .imgcontainer {
              height: 150px;
              width: 22%;
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                padding: 5px;
                mix-blend-mode: multiply;
              }
            }
            .details {
              width: 53%;
              display: flex;
              flex-direction: column;
              gap: 2px;
  
              .productname {
                font-weight: 500;
                font-size: 18px;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
  
              }
  
              .price {
                span {
                  font-weight: 450;
                }
              }
  
              .quantitysection {
                display: flex;
                align-items: center;
                gap: 10px;
                button {
                  font-size: 17px;
                  font-weight: 700;
                  padding: 5px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border: 1px solid var(--backgr-2);
                  color: var(--backgr-2);
                  background-color: transparent;
  
                  &:hover {
                    background-color: var(--backgr-2);
                    border: 1px solid var(--backgr-2);
                    color: var(--second-color);
                  }
                }
              }
              .delete {
                position: absolute;
                top: -5px;
                right: 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px;
                font-size: larger;
                border-radius: 3px;
  
                &:hover {
                  background-color: var(--backgr-2);
                  color: var(--second-color);
                }
                &:active {
                  color: white;
                }
              }
            }
            .subtotal {
              width: 25%;
              min-width: 22%;
              p {
                width: max-content;
              }
            }
          }
        }
      }
      .right {
        width: 35%;
        min-width: 400px;
        .summary {
          display: flex;
          flex-direction: column;
          gap: 10px;
  
          .top {
            font-weight: 400;
            padding: 20px 16px;
            font-size: 20px;
            padding: 20px 0;
            border-bottom: 1px solid #c7bab0;
          }
          .middle {
            padding: 25px 0;
            display: flex;
            flex: 1;
  
            .total {
              display: flex;
              align-items: center;
              flex: 1;
              justify-content: space-between;
  
              span {
                font-weight: 550;
              }
            }
          }
          .bottom {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 16px 0;
            border-bottom: 1px solid #c7bab0;
  
            button {
              padding: 5px;
              max-width: 300px;
              width: 100%;
              font-size: large;
              font-weight: 590;
              color: var(--colpalb1);
              background-color: var(--buttonb);
              border: 2px solid var(--buttonb);
              border-radius: 17px;
              transition: all 0.3s;
  
              &:hover {
                letter-spacing: 0.2rem;
                color: var(--buttonb);
                background-color: var(--colpalb1);
                border: 2px solid var(--buttonb);
              }
            }
          }
        }
      }
    }
  }