:root{
    --first-color: rgb(43, 91, 107);
    --second-color: gold;
    --third-color: rgba(43, 91, 107, 0.61);
    --backgr-1-header: black;
    --backgr-1: rgba(243, 243, 243, 0.342);
    --backgr-2: rgb(30, 62, 73);
    --backgr-3: white;
    --shadow: rgba(0, 0, 0, 0.062);
    --logoBackground: #43240A;
    /* --colpalb1: #fff5d0; */
    --colpalb1: #ffffff;
    --colpalb3: #0f222d;
    --colpalb2: #411e0634;
    --buttonb:#a05222;
    --fontc1: #411E06; 
}
body, h1, h2, h3, p, a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    /* line-height: 1.5; */
    color: #333;
}
iframe{
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}
.no-margin{
    margin: 0;
    padding: 0;
}

.w-h-full{
    width: 100%;
    height: 100%;
}
.w-h-screen{
    width: 100vw;
    height: 100vh;
}
.bg-primary{
    background-color: var(--colpalb1);
}
.no-overflow{
    overflow: hidden;
}



/* webkit scrollbar */
::-webkit-scrollbar{
    width: 5px;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: rgb(109, 108, 108);
    border-radius: 5px;
    
}
::-webkit-scrollbar-track{
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.034);
}
/* webkit scrollbar */