.main1 {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: var(--fontc1);
    align-items: center;
    justify-content: center;
  
    .logincontainer {
      width: 450px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--colpalb1);
      box-shadow: 1px 1px 20px var(--shadow);
      gap: 25px;
      padding: 40px;
  
      .loginlogo {
        display: flex;
  
        .image {
          width: 200px;
          height: 200px;
          position: relative;
          transition: all 0.7s ease;
          img {
            border-radius: 50%;
            width: 200px;
            height: 200px;
            object-fit: cover;
            mix-blend-mode: multiply;
          }
          form {
            display: flex;
            justify-content: center;
            align-items: center;
  
            label {
              display: flex;
  
              .imageupload {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    position: absolute; 
                    bottom: 0;
                    left: 0px;
                    border-radius: 96px;
                    transition: 0.5s;
                    backdrop-filter: blur(10px) saturate(140%);
                    opacity: 0;
      
                    &:hover {
                      opacity: 1;
                    }
                p {
                  font-size: medium;
                }
              }
            }
            input {
              display: none;
            }
          }
        }
      }
  
      form {
          display: flex;
        flex-direction: column;
        gap: 25px;
        width: 100%;
  
        .info {
          display: flex;
          flex-direction: column;
          width: 100%;
  
          
          .input {
              width: 100%;
              background-color: transparent;
              border: 1px solid var(--buttonb);
              border-radius: 3px;
              display: flex;
              align-items: center;
    
            input {
              background-color: transparent;
              flex: 1;
              padding: 10px;
              outline: none;
              border: none;
            }
            .showicon {
              width: 35px;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
            }
          }
          .passwordreset {
            display: flex;
            justify-content: end;
            a {
              text-decoration: none;
              color: black;
  
              &:hover {
                text-decoration: underline;
                color: red;
              }
              p {
                  font-size: medium;
              }
            }
          }
        }
        button {
          padding: 10px;
          background-color: transparent;
          border: 1px solid var(--buttonb);
          outline: none;
          color: var(--buttonb);
          font-weight: 500;
          font-size: 18px;
          transition: all 0.2s linear;
          cursor: pointer;
  
          &:hover {
              letter-spacing: 0.2em;
              color: var(--colpalb1);
              background-color: var(--buttonb);
            }
        }
      }
      .signup {
        p {
          a {
              text-decoration: none;
              color: blue;
              cursor: pointer;
    
              &:hover {
                color: red;
              }
          }
        }
      }
    }
  }