aside {
    background-color: var(--colpalb1);
    /* background-color: red; */
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.263);
    position: sticky;
    top: 0;
    padding-top: 120px;
    min-width: 300px;
    height: calc(100vh - 120px);

    .profiledetails {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      height: 200px;
      justify-content: center;
      gap: 20px;
      text-transform: capitalize;

      .profileicon {
        img {
          height: 100px;
          width: 100px;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      .icon {
        font-size: 100px;
      }
    }
    .adminfunctions {
      display: flex;
      flex-direction: column;
      margin: 3px;
      a {
        text-decoration: none;
        color: black;

        .navlink {
          padding: 7px;

          &:hover {
            background-color: rgba(128, 128, 128, 0.33);
          }
        }
      }
    }
  }